
@tailwind base;
@tailwind components;
@tailwind utilities;


code {
  color: #D4F3D4;
  font-weight: bold;
  font-family: monospace;
  font-size: 1rem;
  font-style: normal;
}

#title {
  font-variant: small-caps;
  color: #fece3e;
}

/* Menu */
#mainmenu {
  transition: transform .3s ease-in-out;
}
.c-card {
  cursor: pointer;
  background-color: #ffeebc;
  transition: transform .1s ease-in-out;
}
.c-card:hover {
  transform: scale(1.05);
}
.c-card > div {
  border-color: #3772a5;
}

/* Src / Output */
#output {
  min-height: 6rem;
}
.error {
  color: #EE4444;
  font-weight: bold;
}
.failed {
  color: #eb9800;
  font-weight: bold;
  margin-top: 1rem;
}

/* Loading */

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333333DD;
}

#loading > img {
  position: fixed;
  width: 128px;
  left: 50%;
  top: 50%;
  margin-top: -64px;
  margin-left: -64px;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

/* Markdown */

ul {
  margin-left: 1.5rem;
  list-style-type: circle;
}
#instruction table {
  margin: 0.5rem 0rem;
}
#instruction table th {
  padding: 0.8rem 0.8rem;
  border: 1px solid #777;
}
#instruction p {
  margin-top: 0.8rem;
}
#instruction img.center {
  margin: auto;
}

/* Background */

body {
	background: linear-gradient(-45deg, #475569, #343E4C, #476669, #3a380f);
	background-size: 400% 400%;
	animation: gradient 120s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Version */

#version {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  font-size: small;
  font-style: italic;
  color: #AAA;
  z-index: -1;
}

/* Katex */

span.katex {
  font-size: 1.2rem;
}

/* Success overlay  */

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #40404090;
  z-index: 20;
}
#overlay img {
  position: fixed;
  width: 64px;
  top: 50vh;
  left: 50vw;
  margin-top: -72px;
  margin-left: -32px;
  z-index: 10;
}
#overlay .done {
  position: fixed;
  width: 300px;
  height: 128px;
  margin-left: -150px;
  margin-top: -50px;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;
  text-align: center;
  border: 4px solid #20A020;
  border-radius: 12px;
}
#overlay .done .done-msg, #overlay .done .done-sub {
  color: #353;
  line-height: 32px;
}
#overlay .done .done-sub {
  color: #555;
  font-size: small;
  font-style: italic;
}

#login-required {
  position: fixed;
  display: block;
  background: #40404090;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

#login-popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 260px;
  margin-left: -160px;
  margin-top: -140px;
  padding: 8rem 2rem 0rem 2rem;
  text-align: center;
  border-radius: 1rem;
  background: 50% 10% / 20% no-repeat url("./img/connexion.png"),
              linear-gradient(-45deg, #475569, #343E4C, #476669, #3a380f);
  box-shadow: 0 4px 6px -1px #00000055, 0 2px 4px -2px #00000055;
  border: 2px solid #35404e;
  transform: translate(0, -70vh);
  transition: transform .3s ease-in-out;
  z-index: 20;
}
#login-popup span {
  color: #ffeebc;
}